.ct-header {
	z-index: 10000;
	left: 0;
	right: 0;
	height: 3.75rem;
	min-width: 20rem;
}

.header-content.ct-specify.ct-hide-header {
	display: none;
}

.erc-header.ct-header-theater {
	display: absolute;
}

.video-player-wrapper.ct-specify.ct-video-wrapper {
  height: 100vh;
  max-height: 100vh;
  margin-top: -3.75rem;
}

.video-player-wrapper.ct-specify.ct-video-wrapper-spacing {
  height: calc(100vh - 3.75em);
  max-height: 100vh;
  margin-top: 0;
}

.ct-specify.ct-scroller {
	scroll-padding: 0;
}